# ignorar json por alguns terem tamanho maior que 100MB
dados/brutos/*.json
dados/processados/*.parquet
dados/processados/*.npz
dados/processados/*.joblib

# ignorar arquivos de ambiente virtual por segurança    
env/ 
.venv/
venv/
ENV/

# ignorar caches
pycache/
*.py[cod]
*$py.class

# ignorar checkpoints do Jupyter
.ipynb_checkpoints/

# ignorar arquivos de configuração de editores/IDEs

.vscode/
.idea/

# Ignorar arquivos de sistema (macOS, Windows)

.DS_Store
Thumbs.db

# Ignorar logs

*.log